html, body {
  margin: 0;
  padding: 0;
}

.customButton {
  width:180px;
  height:50px;
  background-color: #fea834;
  border: 3px solid white;
  color: #FFFF;
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: vollkorn;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.songButton {
  width:200px;
  height:50px;
  background-color: #f8f400;
  border: 3px solid white;
  color: rgb(0, 0, 0);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: vollkorn;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.optionButton {
  width:200px;
  height:50px;
  background-color: #f7580f;
  border: 3px solid white;
  color: rgb(253, 253, 253);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: vollkorn;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.nextButton {
  width:200px;
  height:50px;
  background-color: #1e6af7;
  border: 3px solid white;
  color: rgb(253, 253, 253);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: vollkorn;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}

.correctanswer{
  color:rgb(63, 255, 15);
  font: size 25px;

}

.wronganswer{
  color:rgb(255, 238, 0);
  font: size 25px;
  
}

